.header {
    // padding-top: 4.9rem;


.hero-container {
    background-color: $--rectangle--29;
    color: $--white;
    justify-content: center;
    padding: 9.5rem;
    display:flex;
    flex-direction: column;
    height:35.2rem;

   h1{ 
       @extend .display-xl-48-dekstop-only;

}
.subheader {
    visibility: hidden;
    @extend .display-xl-48-dekstop-only;

}

.bar {
    width: 10.2rem;
    height: .8rem;
    background-color:$--primary-brand;
    margin: 0 auto;
    border:none
}
}

.hero-image {
    height: 35.2rem;
    padding: 1.6rem 0;
    width: 100%;
}
 
}


@media(min-width: 320px) and (max-width: 767px)  {
    
    .header{
        padding-top: 0;
        display:flex;
        flex-direction: column-reverse;
        .hero-container{
            margin: -5.9rem 4rem 0;
            height: -1vh;
            width: 80vw !important;
            padding: 0;
            .subheader{
                visibility: visible;
                
            }
        }
        
    }
    
    
    .hero-image {
        padding: 0 ;
        width: 100%;
        height:17rem;
    }
}
