.cart-Container {
    padding: 1rem;

    .carousal {
        font: normal normal 600 4.8rem/6rem Source Serif Pro;
        letter-spacing: 0px;
        color: $--unnamed-color-172026;
        padding: 2rem;
    }

    h1 {
        font: normal normal 600 4.8rem/4.5rem Source Serif Pro;
        letter-spacing: 0px;
        color: $--unnamed-color-172026;
    }

    .bar2 {
        width: 13rem;
        height: .8rem;
        background-color: $primary-brand;
        border: none;
        margin-top: 1rem;
    }

    .cart-products {
        text-align: left;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .added-product {
            display: flex;

            img {
                width: 13vw;
                height: 19.9rem;
                border: .1rem solid $col-Gray;
            }



        }

        .cart-prod-detail {
            padding: .5rem;

            b {
                text-align: left;
                font: normal normal 600 2rem/2.5rem Mulish;
                letter-spacing: 0px;
                color: $--unnamed-color-172026;
            }

            p {
                font: normal normal normal 1.6rem/2.4rem Mulish;
                letter-spacing: 0px;
                color: $--unnamed-color-172026;

            }
        }
    }

    .shipping {
        border: 1px solid $col-Gray;

        p {
            text-align: left;
            // &:not(:nth-child(3n)) {
            //     border-bottom: .1rem solid $col-Gray;
            // }

            font: normal normal normal 2rem/2.5rem Mulish;
            letter-spacing: 0px;
            color: $--unnamed-color-172026;
            padding: 2.4rem;


            span {
                float: right;
                font: normal normal normal 1.4rem/2.1rem Mulish;


            }


        }

        img {


            padding-top: 2.5rem;

        }
    }

    .btn {

        padding-top: 5.5rem;

        .btn-sub {
            width: 3.2rem;
            height: 3.2rem;
            border: .2rem solid $col-gray2;
            border-radius: 50%;
            margin-right: .2rem;
        }

        .btn-count {
            width: 8.8rem;
            height: 4rem;
            border-radius: .8rem;
            margin-right: .2rem;
            border: .2rem solid $col-gray2;

        }


    }


    .option {
        font: normal normal 600 1.2rem/1.4rem Mulish;
        letter-spacing: 0px;
        color: $--unnamed-color-172026;
        padding: .3rem 1rem;

        span {
            padding-left: .6rem;
        }

        img {
            width: 1rem;
            height: 1rem;

        }
    }

    .pricing-total {

        width: 43.5rem;
        height: 46.3rem;
        padding: 1rem;
        background: $--white 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px .8rem $shadow-gray;
        border: 1px solid $col-Gray;
        border-radius: .2rem;

        h4 {
            padding-top: 3.2rem;
            padding-bottom: 2.4rem;
            text-align: left;
            font: normal normal 600 2rem/2.5rem Mulish;
        }

        p {
            padding-bottom: 16px;
            font: normal normal normal 1.6rem/2.4rem Mulish;
            letter-spacing: 0px;
            color: $--unnamed-color-172026;
            text-align: left;

            span {
                float: right;
            }
        }

        .Primary-brand {
            font: normal normal bold 14px/16px Muli;
            letter-spacing: 0px;
            color: $--white;
            text-transform: uppercase;
            opacity: 1;
            background:$--primary-brand 0% 0% no-repeat padding-box;
            border-radius: 0px;
            border: none;
            width: 247px;
height: 40px;
            padding: 0;
            img{
                width:16px;
                height:10px;
            }
        }

        .ppbtn {
            padding: 1rem;

            img {
                width: 244px;
                height: 38px;
            }
        }

    }


}

@media (min-width: 320px) and (max-width: 767px) {
    .cart-Container .btn {
        padding-top: 0;
    }

    .cart-Container .pricing-total {
        border: none;
    }

    .cart-Container .shipping p span {
        float: left;
        padding-top: 0;
        padding-bottom: .5rem;
    }

    .cart-Container .shipping p {
        padding: 1.4rem;
    }

    .cart-Container .cart-products .added-product img {
        width: 40vw;
        height: 19.9rem;
    }
}