.banner-content {
    //position: relative;
    background-color: $--gray-d3;
    padding: 8.4rem 0;

    .arrow {
        padding-top: 12.2rem;
        text-align: initial;
        padding-left: 2rem;

        img {
            width: 2rem;
            height: 4rem;

        }
    }

    .content-div {
        margin: auto;
        padding-left: 2.5rem;
    }

    h5 {
        @extend .display-xl-48-dekstop-only;
        text-align: left;
        max-width: 44.2rem;
    }

    p {
        @extend .regualr-body-m-16-;
        text-align: left;
        max-width: 48.5rem;
    }

    button {
        float: left;
        background-color: $--primary-brand;
        color: $--white;
        padding: .5rem;
        margin-top: .7rem;
        width: 18rem;
        border: .1rem solid $--gray-d3;

    }

}

.banner {
    img {
        width: 100%;
        // height: 99vh;
    }
}

.slider {
    //position: absolute;
    margin-top: -2%;
    display: inline-block;

    img {
        width: 100%;
        height: 50vh;
    }

    .slider-content {
        background-color: #1B252CD9;
        opacity: 1;
        margin-top: -10%;
        display: inline-block;
        width: 21vw;
        height: 9rem;
        color: $--white;
        padding: 1rem 2rem;
        text-align: left;
        border-bottom: 8px solid $--primary-brand;

        h6 {
            @extend .display-m-24-;
        }

        p {
            @extend .regular-body-s-14-;
        }
    }
}

.moreInfo {
    padding-top: 6rem;

    .collection {
        text-align: left;
        padding: 8.4rem 0 8.4rem 3rem;

        h5 {
            @extend .display-xl-48-dekstop-only;
            max-width: 44.2rem;
            padding-top: 8px;
        }

        h6 {
            @extend .regular-heading-l-20-;
            max-width: 25.5rem;
            padding-bottom: 16px;
        }

        p {
            @extend .regualr-body-m-16-;
            max-width: 53.1rem;
        }

        .btnOne {
            width: 22.1rem;
            height: 4rem;
            border: .2rem solid $--btn-border-1;
            opacity: 1;
            background-color: $--white;
            color: $--primary-brand;
            font: normal normal bold 1.4rem Muli;
            margin-top: 24px;

        }

        .btnTwo {
            width: 22rem;
            height: 4rem;
            box-shadow: 0px .3rem .6rem #39373729;
            opacity: 1;
            background-color: $--primary-brand;
            color: $--white;
            border: .2rem solid $--btn-border-1;
            margin-left: 33.24px;
        }

        .bar {
            width: 102px;
            height: 8px;
            background-color: #E26A2C;
            opacity: 1;
            margin-top: 3.6rem;
        }
    }
}

.device {
    background-color: $--rectangle--29;
    color: $--white;
    text-align: left;
    padding: 7rem 5rem;

    h5 {
        @extend .display-xl-48-dekstop-only;

    }

    p {
        @extend .regular-heading-l-20-;
        padding-top: 16px;
    }

    button {
        border: 2px solid $--white;
        border-radius: 10px;
        opacity: 1;
        background-color: $--rectangle--29;
        color: $--white;
        margin-top: 32px;
        width: 180px;
        height: 40px;
    }
}

@media (max-width: 76.8rem) {
    .slider .slider-content {
        width: 95vw;
    }

    .moreInfo .collection {
        text-align: center;
        h6{
            max-width: 32.5rem;
        }
        .btnTwo {
            margin-top: 24px;
             margin-left: 0;
        }
        .btnOne{
             margin-left: 0px;
        }
        .bar{
            margin-left: 32%;
        }

    }
}