@import '../Library/variable';

nav {
    padding-top: 1.6rem;
    top: 0;
    position: sticky;
    place-items: center;
    padding-bottom: 1.6rem;
    z-index: 1;
    background-color: $--primary-brand;
    // border-bottom: .2rem solid $gray-l1;

    .logo-align {
        display: flex;

        .logo {
            color: white;
            letter-spacing: .6rem;
            font-weight: 300;
        }
    }

    .toggle {
        display: none;
    }

    ul {
        text-align: right;
    }

    ul li {
        display: inline;
        padding-right: 0rem;
        padding-left: 3.2rem;
        padding-top: 3rem;
        font-style: normal normal 600 1.6rem/2.4rem Mulish;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0rem;
        //color: $black-2;
        opacity: 1;
        color: $--white;

        .counter {
            margin-top: -2%;
            margin-left: -4%;
            background-color: $--primary-m1;
            width: 23px;
            height: 23px;
            float: right;
            padding: -7px 3px 0px 3px;
            border-radius: 50%;
            color: $--white;
            position: relative;
            text-align: center;
            font-weight: 500;
        }




        .img-3 {
            width: 2.2rem;
            height: 2.4rem;
            padding-right: .8rem;

        }

    }

    .toggle {
        padding-top: 1.8rem;
        padding-left: 1.8rem;
    }



}

@media (min-width: 768px) and (max-width: 1023px) {
    .sign-in {
        span {
            display: none
        }

        .img-2 {
            display: none;
        }

    }

    nav ul {

        li {
            padding-left: 2rem;
        }
    }


}

@media (min-width: 320px) and (max-width: 767px) {
    nav .toggle {
        display: block;
    }

    .sign-in ul li {
        span {
            display: none;
        }


    }

    nav ul li .img-2 {
        display: none !important
    }

    .main-menu {
        display: none
    }

}