h1{
    @extend .display-xl-48-dekstop-only;
}
.bar{
    width: 102px;
height: 8px;
background: #E26A2C 0% 0% no-repeat padding-box;
opacity: 1;
margin: auto;
}
.offer {
    background-color: $--primary-d1;
    color: $--white;
    padding: 6.8rem;

    h5 {
        @extend .display-l-36-;
        max-width: 26.2rem
    }

    .img {
        margin-top: 40.3px;
        width: 49px;
        height: 49px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .offer{
        display: none;
    }
}