.offer {
    background-color: #FF8243;
    color: white;
    padding: 6.8rem;

    h5 {
        @extend .display-l-36-;
        max-width: 26.2rem
    }

    .img {
        margin-top: 40.3px;
        width: 49px;
        height: 49px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .offer{
        display: none;
    }
}