.card {
    // padding-bottom: 2rem;
    padding: 2rem;

    &:not(:nth-child(3n)) {
        padding-right: 1.5rem;
    }

    .product-text {
        text-decoration: none;
    }

    .product-image img {
        width: 100%;
        height: 30.2rem;
        border: 1px solid $--gray-l2;
        padding: 1.5rem;

    }

    .product-details {
        text-align: left;
        text-decoration: none;
        color: $--unnamed-color-172026;

        .product-title {
            @extend .regular-heading-l-20-;
            // font-size: 1.8rem;
            letter-spacing: 0px;
            opacity: 1;
            color: $--unnamed-color-172026;
        }

        .product-price {
            // font: normal normal 600 1.6rem/2rem Mulish;
            @extend .regualr-body-m-16-;
        }

        img {
            width: 2.4rem;
            height: 2rem;
            padding-top: .4rem;
        }


    }

    .fav-icon {
        width: 100%;
    }


}

.pagination {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 1rem;

    ul li a {
        padding: 1rem;
        color: $--unnamed-color-172026;
        font-size: 1.7rem;
    }
}

.container .card-container {
    padding-top: 6.9rem;

    .body-container {
        font-size: 1.6rem;
        padding-bottom: 2.6rem;

        p {
            display: inline-flex;
            float: left;
        }

        select {
            float: right;
        }
    }

}

.filter-body {
    display: none;

    p {
        text-align: left;
        // font: normal normal normal 1.6rem/2.4rem Mulish;
        @extend  .regualr-body-m-16-;
        padding: .6rem;
    }

    .product-count {
        text-align: center;
    }

    .Filter {
        display: inline-flex;
        text-align: center;

        figure {
            padding: 2.5rem;
        }

    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .body-container {
        display: none;
    }

    .filter-body {
        display: block;
    }
    .card .product-image img {
        height:19.6rem;
    }
    .card .product-details .product-title{
        font: normal normal bold 16px/20px Muli;
        font-family: Muli ;
    }

}