.shippingMethode {
    text-align: left;
    h6 {
        @extend .regular-heading-l-20-;
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
        padding: 2rem 0;
    }

    .input {input{
        background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #E26A2C;
opacity: 1;
    }
    label{
        color: var(--unnamed-color-172026);
text-align: left;
letter-spacing: 0px;
color: #172026;
opacity: 1;
    }
}
    
}