.shippingInform {
    // text-align: left;

    select {
        border: 2px solid $--gray-l2;
        border-radius: 8px;
        opacity: 1;
        color: $--gray-m1;
        padding: .5rem;
    }

    // h2 {
    //     text-align: left;
    //     font: normal normal 600 36px/30px Source Serif Pro;
    //     letter-spacing: 0px;
    //     color: #172026;
    //     opacity: 1;
    // }
    .sign-in{
        border:1px solid $col-Gray;
        // width: 438px;
        height:10rem;
        display:inline-flex;
        padding: 1.3rem;
        margin-bottom: 2.4rem;
        h4{
         @extend .regular-heading-l-20- ;
         text-align: left;
        }
        button{
            width: 15rem;
            height: 4rem;
            margin-top: 5%;
        }
    }

    .customer {
        display: grid;
        padding-right: 3%;

        label {
            text-align: left;
            // font: normal normal 600 16px/24px Muli;
            @extend .regular-heading-m-16-;
            letter-spacing: 0px;
            color: $--gray-d2;
            opacity: 1;
        }

        input {
            background: $--white 0% 0% no-repeat padding-box;
            border: 2px solid $--gray-l2;
            border-radius: .8rem;
            opacity: 1;
            color: $--gray-m1;
            padding: .5rem;
        }
    }

    .country {


        select {
            border: 2px solid $--gray-l2;
            border-radius: 8px;
            opacity: 1;
            color: $--gray-m1;
            padding: .5rem;
        }
    }

    h6 {
        @extend .regular-heading-l-20-;
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
        padding: 2rem 0;
    }

    label,
    p {
        @extend .regualr-body-m-16-;
        text-align: left;
        // font: normal normal normal 16px/25px Muli;
        letter-spacing: 0px;
        color: $--unnamed-color-172026;
        opacity: 1;
    }

    button {
        border: 2px solid $--btn-border-1;
        opacity: 1;
        width: 347px;
        height: 40px;
        margin-top: 5.1rem;
        margin-bottom: 4.8rem;
        text-align: center;
        // font: normal normal bold 14px/16px Muli;
        @extend .regular-heading-s-14-;
        letter-spacing: 0px;
        color: $--primary-brand;
        text-transform: uppercase;
        background-color: $--white;
        
    }
//    form button span{
//         .mobile{
//             display:none
//         }
//         .desktop{
//             display:block
//         }
//     } 

    .next {
        text-align: left;
        padding: 2.4rem 0;
        border-bottom: 1px solid $border-next;
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: $border-next;
        opacity: 1;
    }
    

    .shipingMethode {
        text-align: left;
        
        
        input {
            border: 2px solid var(--primary-brand);
            background: $--white 0% 0% no-repeat padding-box;
            border: 2px solid $--primary-brand;
            opacity: 1;

        }

        label {
            text-align: left;
            letter-spacing: 0px;
            color: $--unnamed-color-172026;
            opacity: 1;
            padding-left: 1rem;
            padding-bottom: 2rem;
        }
        .next {
            text-align: left;
            padding: 2.4rem 0;
            // border-bottom: 1px solid #72777F;
            border-top: 1px solid $border-next;
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: $border-next;
            opacity: 1;
        }
         
        
    }
    .paymentInfo{
        text-align: left;
        button {
            border: 2px solid $--btn-border-1;
            opacity: 1;
            width: 347px;
            height: 40px;
            margin-top: 5.1rem;
            margin-bottom: 4.8rem;
            text-align: center;
            font: normal normal bold 14px/16px Muli;
            letter-spacing: 0px;
            color: $--primary-brand;
            text-transform: uppercase;
            background-color: $--white;
            
        }
        
        label {
            text-align: left;
            font: normal normal 600 16px/24px Muli;
            letter-spacing: 0px;
            color: $--gray-d2;
            opacity: 1;
        }

        input {
            background: $--white 0% 0% no-repeat padding-box;
            border: 2px solid $--gray-l2;
            border-radius: 8px;
            opacity: 1;
            color: $border-gray;
            padding: .5rem;
            width: 50%
        }
        .next {
            text-align: left;
            padding: 1.4rem 0;
            // border-bottom: 1px solid #72777F;
            border-top: 1px solid $border-next;
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: $border-next;
            opacity: 1;
            margin-top: 3rem;
        }
         
    }
    button {
        .mobile{
                        display:none
                    }
                    .desktop{
                        display:block
                    }
    }
}
 

@media (min-width: 320px) and (max-width: 767px) {

    .shippingInform {
        padding: 0 1.5rem;
    }
    .shippingInform button {
        .mobile{
                        display:block;
                    }
                    .desktop{
                        display:none;
                    }
    }
    .Shipping{
        padding: 0 1.5rem;
    }
    .shippingInform .paymentInfo input{
        width: -webkit-fill-available;
    }
    .shippingDetails .edit p {
        display:none;
    }
    .shippingDetails .edit img {
        float: right;
    }
}