.shippingInform {
    // text-align: left;

    select {
        border: 2px solid #B5B7BC;
        border-radius: 8px;
        opacity: 1;
        color: #91959C;
        padding: .5rem;
    }

    // h2 {
    //     text-align: left;
    //     font: normal normal 600 36px/30px Source Serif Pro;
    //     letter-spacing: 0px;
    //     color: #172026;
    //     opacity: 1;
    // }
    .sign-in{
        border:1px solid $col-Gray;
        // width: 438px;
        height:100px;
        display:inline-flex;
        padding: 13px;
        margin-bottom: 2.4rem;
        h4{
         @extend .regular-heading-l-20- ;
         text-align: left;
        }
        button{
            width: 150px;
            height: 40px;
            margin-top: 5%;
        }
    }

    .customer {
        display: grid;
        padding-right: 3%;

        label {
            text-align: left;
            font: normal normal 600 16px/24px Muli;
            letter-spacing: 0px;
            color: #181C24;
            opacity: 1;
        }

        input {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            color: #91959C;
            padding: .5rem;
        }
    }

    .country {


        select {
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            color: #91959C;
            padding: .5rem;
        }
    }

    h6 {
        @extend .regular-heading-l-20-;
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
        padding: 2rem 0;
    }

    label,
    p {
        @extend .regualr-body-m-16-;
        text-align: left;
        font: normal normal normal 16px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }

    button {
        border: 2px solid #D4703D;
        opacity: 1;
        width: 347px;
        height: 40px;
        margin-top: 5.1rem;
        margin-bottom: 4.8rem;
        text-align: center;
        font: normal normal bold 14px/16px Muli;
        letter-spacing: 0px;
        color: #E26A2C;
        text-transform: uppercase;
        background-color: #FFFFFF;
        
    }
//    form button span{
//         .mobile{
//             display:none
//         }
//         .desktop{
//             display:block
//         }
//     } 

    .next {
        text-align: left;
        padding: 2.4rem 0;
        border-bottom: 1px solid #72777F;
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #72777F;
        opacity: 1;
    }

    .shipingMethode {
        text-align: left;

        input {
            border: 2px solid var(--primary-brand);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #E26A2C;
            opacity: 1;

        }

        label {
            text-align: left;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
            padding-left: 1rem;
            padding-bottom: 2rem;
        }
        .next {
            text-align: left;
            padding: 2.4rem 0;
            // border-bottom: 1px solid #72777F;
            border-top: 1px solid #72777F;
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #72777F;
            opacity: 1;
        }
         
        
    }
    .paymentInfo{
        text-align: left;
        button {
            border: 2px solid #D4703D;
            opacity: 1;
            width: 347px;
            height: 40px;
            margin-top: 5.1rem;
            margin-bottom: 4.8rem;
            text-align: center;
            font: normal normal bold 14px/16px Muli;
            letter-spacing: 0px;
            color: #E26A2C;
            text-transform: uppercase;
            background-color: #FFFFFF;
            
        }
        
        label {
            text-align: left;
            font: normal normal 600 16px/24px Muli;
            letter-spacing: 0px;
            color: #181C24;
            opacity: 1;
        }

        input {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            opacity: 1;
            color: #91959C;
            padding: .5rem;
            width: 50%
        }
        .next {
            text-align: left;
            padding: 1.4rem 0;
            // border-bottom: 1px solid #72777F;
            border-top: 1px solid #72777F;
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #72777F;
            opacity: 1;
            margin-top: 3rem;
        }
         
    }
    button {
        .mobile{
                        display:none
                    }
                    .desktop{
                        display:block
                    }
    }
}
 

@media (min-width: 320px) and (max-width: 767px) {

    .shippingInform {
        padding: 0 15px;
    }
    .shippingInform button {
        .mobile{
                        display:block;
                    }
                    .desktop{
                        display:none;
                    }
    }
    .Shipping{
        padding: 0 1.5rem;
    }
    .shippingInform .paymentInfo input{
        width: -webkit-fill-available;
    }
}