@import "../Library/variable";
@import '../Library/aem_grid';
@import '../Library/common';
@import '../Library/container';
@import '../Library/navbar';
@import '../Library/footer';
@import '../Library/heroBanner';
@import '../Library/banner';
@import '../Library/checkbox';
@import '../Library/productCard';
@import '../Library/sideNav';
@import '../Library/singleProduct';
@import '../Library/cart';
@import '../Library/pricingSummery.scss';
@import '../Library/shipingInform';
@import '../Library/checkout';
@import '../Library/shippingDetails';
@import '../Library/shippingMethode';
@import '../Library/orderSummery';
@font-face {
    font-family: Muli;
    src: url(../Library/Muli-Regular.ttf);
   
}